{% extends "_basenarrow.html" %} {% load staticfiles %} {% block extra_css %}{% endblock %}{% block extra_javascript %}
<script>
    function validateForm() {
        document.usernameformvalid = true;
        checkField(document.getElementById('username'), document.getElementById('usernameerror'));
        checkField(document.getElementById('password'), document.getElementById('passworderror'));
        checkField(document.getElementById('email'), document.getElementById('emailerror'));
        return (document.usernameformvalid && (document.getElementById('firstname').value != '') && (document.getElementById('lastname').value != ''));
    }
</script>{% endblock %} {% block body %}
<h2>Reset password</h2>
<form method="POST" enctype="multipart/form-data" class="text-center" onsubmit="return validateForm()">

</form>
{% endblock %}