{% extends "emails/_baseemail.htm" %}
{% block greetingemail %}Hi.{% endblock greetingemail %}
{% block contentemail %}We have a secret note for you. Please, visit the link below to read.<br>
{% if note.expires or note.viewlimited %}<span style="color:red;">{% endif %}
{% if note.expires %}<b>ATTENTION</b>: The note will expire on {{ note.expiretime|date:"M d, Y"}}{% endif %}
{% if note.expires and note.viewlimited %}<br>{% endif %}
{% if note.viewlimited %}<b>ATTENTION</b>: The note may be viewed only {{ note.reads_left }} times.{% endif %}
{% if note.expires or note.viewlimited %}</span><br>{% endif %}
{% include 'emails/_button.htm' with linkurl=note.generate_link_external_close linktext='Open the note' %}

{% endblock contentemail %}