{% extends "emails/_baseemail.htm" %}
{% block greetingemail %}Hi, {{ ticket.assignedto.first_name }}. {% endblock greetingemail %}
{% block contentemail %}<p>A new ticket was assigned to you. <br>The subject is: <b>{{ ticket.title }}</b>
<br>Contact info:
    <br>name: {{ ticket.contactname }}.{% if ticket.contactphone %}
    <br>Phone number: {{ ticket.contactphone.as_international }}{% endif %}{% if ticket.contactemail %}
    <br>Email: <a href='{{ ticket.get_email_link }}'>{{ ticket.contactemail }}</a>{% endif %}</p>
{% include 'emails/_button.htm' with linkurl=link linktext='Open the ticket' %}
{% endblock contentemail %}