{% load tz %} {% timezone "America/New_York" %}
<p>Hi, All.</p>
<p>A new ticket add to the system. {{ ticket.contactname }} {% if ticket.companyname %}from {{ ticket.companyname }} {% endif %} has an issue with {{ ticket.title }}.
    <br>More info:
    <br>Contact email: <a href="{{ ticket.get_email_link }}">{{ ticket.contactemail }}</a> {% if ticket.contactphone %} <br>Contact phone: {{ ticket.contactphone.as_international }}{% endif %}
    <br>Link to the ticket: <a href="{{ link }}" target="_blank">{{ link }}</a>.</p>
<p>Have a great day!
    <br>Infotek Robot! :-)
</p>{% endtimezone %}