html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    /* background-color: #999999; */
}

.wrapper {
    flex: 1 0 auto;
}

.logo {
    max-height: 100px;
}

.centered-element {
    text-align: center;
}

.centered-block-element {
    display: block;
    margin: 0 auto;
}

footer {
    flex-shrink: 0;
    /* text-align: center; */
}

button.round,
.button.round {
    border-radius: 1000px;
}

.top-bar,
.top-bar ul,
.is-dropdown-submenu {
    background-color: inherit;
    border: inherit;
}

.nomargin {
    margin: 0px;
}

.margin-sides {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.inlineblock {
    display: inline-block;
}

.alert,
.errorlist {
    color: red;
}

.post-bordered {
    border: 1px;
    border-style: dotted;
    border-color: black;
    padding: 0.4rem;
}

@media screen and (max-width: 39.99875em) {
    .accordion-content {
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .column,
    .columns {
        padding-left: 0.35rem;
        padding-right: 0.35rem;
    }
}