{% extends "_basenarrow.html" %} {% load staticfiles %} {% block extra_css %}{% endblock %}{% block extra_javascript %} {% endblock %} {% block body %}
<h2>Ticket was submitted</h2>
<p>Thank you for submitting your ticket. We will review it and get back to you.</p>
<p>You will recieve a confirmation from us.</p>
<p>If you want to reach us, you can call (212) 754-8008 or email us at <a href="mailto:support@isstek.com">support@isstek.com</a></p>
<p>Have a great day!</p>
<p><i>Infotek Solutions and Support.</i></p>
{% endblock %}