<tr id="{{ note.id }}">
    <td>{{ note.subject }}</td>
    <td>{{note.contactemail}}</td>
    <td>{% if note.is_available %} Available {% else %} Unavailable {% endif %}</td>
    <td class="text-center">{% if note.viewlimited %}{{ note.reads_left }}/{{ note.reads_max }}{% endif %}</td>
    <td class="text-center">{% if note.expires %}{{ note.expiretime|date:"Y-m-d" }}{% endif %}</td>
    <td>
        <a class="button round nomargin margin-sides" href="{% url 'note_internal' note.id %}">View note</a>
    </td>
</tr>