<div class="reveal" id="{{ modalpre }}{{ computer.id }}" data-reveal>
    <h3>{{ computer.computername }}</h3>
    <p><b>Operating System:</b> {{ computer.get_operatingsystem_display }}</p>
    {% if computer.compyear %}
    <p><b>Computer recieved:</b> {% if computer.compmonth %}{{ computer.compmonth }}/{% endif %}{{ computer.compyear }}</p>
    {% endif %}
    <p><b>Manufacturer:</b> {{ computer.get_manufacturer_display }}</p>
    {% if computer.model %}
    <p><b>Model:</b> {{ computer.model }}</p>
    {% endif %} {% if computer.serialnumber %}
    <p><b>Serial number:</b> {% if computer.manufacturer == 'D' %}
        <a href="https://www.dell.com/support/home/us/en/19/product-support/servicetag/{{ computer.serialnumber }}/diagnose" target="_blank">{{ computer.serialnumber }}</a> {% else %} {{ computer.serialnumber }} {% endif %}</p>
    {% endif %}
    {% include "views/components/networkeqinfo.html" with equipment=computer %}
    <form {% if clid %}
        action="{% url 'clientcomputer' clientid=clid %}"
    {% else %}
        action="{% url 'changecomputer' %}"
    {% endif %}  method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="action" value="change">
        <input type="hidden" name="targetid" value="{{ computer.id }}">
        <a id="comb{{ modalpre }}{{computer.id}}" class="button round inlineblock" onclick="this.parentElement.submit();">Change computer info</a>
    </form>
    <a class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </a>
</div>