<div class="reveal" id="{{ modalpre }}{{ person.id }}" data-reveal>
    <h3>{{ person.name }}</h3>
    <p><b>First name:</b> {{ person.firstname }}</p>
    <p><b>Last name:</b> {{ person.lastname }}</p>
    {% if person.email %}
    <p><b>Email:</b> <a href="mailto:{{ person.email }}">{{ person.email }}</a></p>
    {% endif %} {% if person.phone %}
    <p><b>Phone:</b> {% include "views/components/phonenumber.html" with phone=person.phone %}</p>
    {% endif %}
    <p><b>Annoyance level:</b> <span {% comment %} {% if person.annoyance> 5 %}class="alert"{% endif %} {% endcomment %}> {{ person.annoyance }}</span></p>
    {% if person.description %}
    <p><b>Description:</b> {{ person.description }}</p>
    {% endif %}
    <form action="{% url 'clientperson' clientid=clid %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="action" value="change">
        <input type="hidden" name="targetid" value="{{ person.id }}">
        <a id="perb{{ modalpre }}{{person.id}}" class="button round inlineblock" onclick="this.parentElement.submit();">Change person info</a>
    </form>
    <a class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </a>
</div>