{% extends "_basenarrow.html" %} {% load staticfiles %} {% block extra_css %}{% endblock %} {% block body %} {% csrf_token %}
<h2>Welcome to the Infotek Client Management System</h2><br>
<div class="row text-center">
    <div class="columns"></div>
    <div class="columns small-8 medium-6 large-4"> <a href="{% url 'allclients' %}" class="button round centered-block-element">Clients</a>
    </div>
    <div class="columns"></div>
</div>
<br>
<div class="row text-center">
    <div class="columns"></div>
    <div class="columns small-8 medium-6 large-4"> <a href="{% url 'allcomputers' %}" class="button round centered-block-element">Computers</a>
    </div>
    <div class="columns"></div>
</div>
<br>
<div class="row text-center">
    <div class="columns"></div>
    <div class="columns small-8 medium-6 large-4"> <a href="{% url 'allpeople' %}" class="button round centered-block-element">People</a>
    </div>
    <div class="columns"></div>
</div>
<br>
<div class="row text-center">
    <div class="columns"></div>
    <div class="columns small-8 medium-6 large-4"> <a href="{% url 'statistics' %}" class="button round centered-block-element">Statistics</a>
    </div>
    <div class="columns"></div>
</div>
<br>
<div class="row text-center">
    <div class="columns"></div>
    <div class="columns small-8 medium-6 large-4"> <a href="{% url 'alltickets' 'o' %}" class="button round centered-block-element">Tickets</a>
    </div>
    <div class="columns"></div>
</div>
<br>
<div class="row text-center">
    <div class="columns"></div>
    <div class="columns small-8 medium-6 large-4"> <a href="{% url 'all_notes' %}" class="button round centered-block-element">Secret Notes</a>
    </div>
    <div class="columns"></div>
</div>
<br>
<div class="row text-center">
    <div class="columns"></div>
    <div class="columns small-8 medium-6 large-4"> <a href="{% url 'all_tools' '' %}" class="button round centered-block-element">Tools</a>
    </div>
    <div class="columns"></div>
</div>
<br>
<div class="row text-center">
    <div class="columns"></div>
    <div class="columns small-8 medium-6 large-4"> <a href="{% url 'all_wiki' '' %}" class="button round centered-block-element">Wiki</a>
    </div>
    <div class="columns"></div>
</div>
<br>
<div class="row text-center">
    <div class="columns"></div>
    <div class="columns small-8 medium-6 large-4"> <a href="{% url 'usermanagement' %}" class="button round centered-block-element">Users</a>
    </div>
    <div class="columns"></div>
</div>
<br>
<div class="row text-center">
    <div class="columns"></div>
    <div class="columns small-8 medium-6 large-4"> <a href="{% url 'updates' %}" class="button round centered-block-element">Updates</a>
    </div>
    <div class="columns"></div>
</div> {% endblock %}