{% extends "_basewide.html" %} {% load staticfiles %} {% block extra_css %}{% endblock %}{% block extra_javascript %} 
<script src="{% static 'js/base/dialogs.js' %}"></script>
{% endblock %}
{% block body %}
<h2>All Computers</h2>
<table id='computerstable'>
    <thead>
        <tr>
            <th>Computer name</th>
            <th>OS</th>
            <th>Company name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for computer in allcomputers %} {% include "views/oneitemrow/computerrow.html" with computer=computer fullinfo=True clid=False %} {% endfor %}
    </tbody>
</table>

{% if needdatatables %}
<script>
    $(document).ready(function() {
        document.computerstable = $('#computerstable').DataTable({
            "lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
            "iDisplayLength": -1
        });
    });
</script>
{% endif %}
{% endblock %}