{% extends "_basenarrow.html" %} {% load staticfiles %} {% block extra_css %}{% endblock %}{% block extra_javascript %} {% endblock %} {% block body %}
<h2>All Clients</h2>
<table id='userstable'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for client in allclients  %}
        {% include "views/clientrow.html" with obj=client.clientobj name=client.clientname phonenumber=client.clientphonenumber %}
        {% endfor %}
    </tbody>
</table>

<div class="row align-middle" data-equalizer>
    <div class='columns'></div>
    <div class="columns small-9 middle-7 large-5 text-middle" data-equalizer-watch>
        <a href="{% url 'newclient' %}" class="button round centered-block-element">Create new client</a>
    </div>
    <div class='columns'></div>
</div>
{% endblock %}