{% extends "_basenarrow.html" %} {% load staticfiles %} {% block extra_css %}{% endblock %}{% block extra_javascript %} {% endblock %} {% block body %}
<h2>All Secret Notes</h2>
<table id='secretnotestable'>
    <thead>
        <tr>
            <th>Subject</th>
            <th>Created for</th>
            <th>Available</th>
            <th>Reads left</th>
            <th>Expires on</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for note in allnotes %} {% include "views/oneitemrow/secretnoterow.html" %} {% endfor %}
    </tbody>
</table>

<div class="row align-middle" data-equalizer>
    <div class='columns'></div>
    <div class="columns small-9 middle-7 large-5 text-middle" data-equalizer-watch>
        <a href="{% url 'new_note' %}" class="button round centered-block-element">Create new secret note</a>
    </div>
    <div class='columns'></div>
</div>

{% if needdatatables %}
<script>
    $(document).ready(function() {
        $('#secretnotestable').DataTable({
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            "iDisplayLength": -1,
            "bSort": false
        });
    });
</script>
{% endif %} {% endblock %}