{% extends "_basewide.html" %} {% load staticfiles %} {% block extra_css %}{% endblock %}{% block extra_javascript %} {% endblock %} {% block body %}
<h2>{{ clientname }}</h2>
<ul class="accordion" data-responsive-accordion-tabs="accordion medium-tabs large-accordion" data-multi-expand="true" data-allow-all-closed="true">
    <li class="accordion-item is-active" data-accordion-item>
        <a href="#" class="accordion-title bold">General information</a>
        <div class="accordion-content" data-tab-content>
            {% include "views/components/generalinfoclient.html" %}
        </div>
    </li>


    <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Domain info</a>
        <div class="accordion-content" data-tab-content>
            {% include "views/components/domaininfo.html" with domain=clientdomain clid=clientid %}
        </div>
    </li>


    <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Router info</a>
        <div class="accordion-content" data-tab-content>
            {% include "views/components/routerinfo.html" with router=clientrouter clid=clientid %}
        </div>
    </li>


    <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">People ({{ clientpeople|length }})</a>
        <div class="accordion-content" data-tab-content>
            {% include "views/components/people.html" with people=clientpeople clid=clientid %}
        </div>
    </li>


    <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Computers ({{ clientcomputers|length }})</a>
        <div class="accordion-content" data-tab-content>
            {% include "views/components/computers.html" with computers=clientcomputers clid=clientid %}
        </div>
    </li>


    <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Printers ({{ clientprinters|length }})</a>
        <div class="accordion-content" data-tab-content>
            {% include "views/components/printers.html" with printers=clientprinters clid=clientid %}
        </div>
    </li>

    {% if clientnetwork %}
    <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Network Equipment ({{ clientnetwork|length }})</a>
        <div class="accordion-content" data-tab-content>
            {% include "views/components/networkequipment.html" with networkeq=clientnetwork clid=clientid %}
        </div>
    </li>
    {% endif %}



</ul>
{% endblock %}