<p><b><u>Name:</u></b> {{ clientname }}</p>
<p><b><u>Phone number:</u></b> {{ clientphonenumber }}</p>
<p><b><u>Address:</u></b> {{ clientaddress }}</p>
<p><b><u>Description:</u></b> {{ clientdescription|linebreaksbr }}</p>
<form action="{% url 'newclient' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="action" value="change">
    <input type="hidden" name="clid" value="{{ clientid }}">
    <button type="submit" class="button round">Change client</button>
</form>