<tr id="{{ computer.id }}">
    <td>{{ computer.computername }}</td>
    <td>{{ computer.get_operatingsystem_display}}</td>
    <td>{{ computer.description }}</td>
    <td>
        <button class="button round nomargin margin-sides" data-open="modal-computername-{{ computer.id }}">View full info</a>
        <div class="reveal" id="modal-computername-{{ computer.id }}" data-reveal>
        <h3>{{ computer.computername }}</h3>
        <p><b>Operating System:</b> {{ computer.get_operatingsystem_display }}</p>
        <p><b>Connection type:</b> {{ computer.get_connection_type_display }}</p>
        <p><b>IP type:</b> {{ computer.get_ip_type_display}}</p>
        <p><b>IP address:</b> {{ computer.ip_address }}</p>
        <p><b>MAC address:</b> {{ computer.mac_address }}</p>
        <p><b>Description:</b> {{ computer.description }}</p>
        <form action="{% url 'computer' clientid=clid %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="action" value="change">
            <input type="hidden" name="compid" value="{{ computer.id }}">
            <a id="b{{computer.id}}" class="button round inlineblock" onclick="this.parentElement.submit();">Change computer info</a>
        </form>
        <a class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </a>
        </div>
    </td>
</tr>