<tr id="{{ person.id }}">
    <td>{{ person.name }}</td>
    <td>{% if person.email %}<a href="mailto:{{ person.email }}">{{ person.email }}</a>{% endif %}</td>
    <td>{% if person.phone %}{{ person.phone}}{% endif %}</td>
    <td><span {% if person.annoyance > 50 %}
        class="alert"
        {% else %}
        {% endif %}> {{ person.annoyance }}</span></td>
    <td>{{ person.description }}</td>
    <td>
        <button class="button round nomargin margin-sides" data-open="modal-personname-{{ person.id }}">View full info</a>
        <div class="reveal" id="modal-personname-{{ person.id }}" data-reveal>
        <h3>{{ person.name }}</h3>
        <p><b>First name:</b> {{ person.firstname }}</p>
        <p><b>Last name:</b> {{ person.lastname }}</p>
        {% if person.email %}
        <p><b>Email:</b> <a href="mailto:{{ person.email }}">{{ person.email }}</a></p>
        {% endif %}
        {% if person.phone %}
        <p><b>Phone:</b> {{ person.phone}}</p>
        {% endif %}
        <p><b>Annoyance level:</b> <span {% if person.annoyance > 50 %}
        class="alert"
        {% else %}
        {% endif %}> {{ person.annoyance }}</span></p>
        <form action="{% url 'person' clientid=clid %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="action" value="change">
            <input type="hidden" name="perid" value="{{ person.id }}">
            <a id="perb{{person.id}}" class="button round inlineblock" onclick="this.parentElement.submit();">Change person info</a>
        </form>
        <a class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </a>
        </div>
    </td>
</tr>