{% extends "_basewide.html" %}{% load staticfiles %} {% block extra_css %}{% endblock %}{% block extra_javascript %}{% endblock %}
{% block body %}
{% if note.is_available %}
    {% if note.expires %}
        <p class="alert">The note will expire on {{ note.expiretime|date:"M d, Y" }}</p>
    {% endif %}
    {% if note.viewlimited %}
        <p class="alert">You can read this note {{ note.reads_left }} more times</p>
    {% endif %}
    <p>Link to this note: <a href="{{ note.generate_link_external_close }}">{{ note.generate_link_external_close }}</a></p>
    <p>Note for <a href="{{note.get_email_link}}">{{note.contactemail}}</a></p>
<div class="post-bordered">
    <h3>{{ note.subject }}</h3>
    {% include "forms/widget/maybequill.html" with obj=note.get_object_internal %} 
</div>
<form action="{% url 'new_note' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="action" value="change">
    <input type="hidden" name="targetid" value="{{ note.id }}">
    <a id="change_note" class="button round inlineblock" onclick="this.parentElement.submit();">Change note</a>
</form>
{% else %} 
    {% if note.close %}{% endif %}
{% if note.out_of_reads %}
    <p class="alert">Sorry, you have already read this note the allowed amount of times.</p> 
{% elif note.expired %}
    <p class="alert">Sorry, the note has expired.</p>
{% else %}
    <p class="alert">Sorry, the note cannot be read right now.</p>
{% endif %}
</div>
{% endif %}
{% endblock %}