{% extends "_basewide.html" %}{% load staticfiles %} {% block extra_css %}{% endblock %}{% block extra_javascript %}{% endblock %}
{% block body %}
<div class="post-bordered">
{% if note.is_available %}
    {% if note.expires %}
        <p class="alert">The note will expire on {{ note.expiretime|date:"M d, Y" }}</p>
    {% endif %}
    {% if note.viewlimited %}
        <p class="alert">You car read this note {{ note.reads_left }} more times</p>
    {% endif %}
    <h3>{{ note.subject }}</h3>
    <p>If you want to read this note right now, please press the button:</p>
    <p><a href="{{ note.generate_link_external_open }}" class="button round">Read now</a></p>
{% else %} 
    {% if note.close %}{% endif %}
{% if note.out_of_reads %}
    <p class="alert">Sorry, you have already read this note the allowed amount of times.</p> 
{% elif note.expired %}
    <p class="alert">Sorry, the note has expired.</p>
{% else %}
    <p class="alert">Sorry, the note cannot be read right now.</p>
{% endif %}
{% endif %}
</div>
{% endblock %}