{% extends "_basewide.html" %}{% load staticfiles %} {% block extra_css %}{% endblock %}{% block extra_javascript %}{% endblock %}
{% block body %}
<div class="post-bordered">
{% if note.is_available %}
    <h3>{{ note.subject }}</h3>
    {% include "forms/widget/maybequill.html" with obj=note.get_external_object %}
{% else %} 
    {% if note.close %}{% endif %}
{% if note.out_of_reads %}
    <p class="alert">Sorry, you have already read this note the allowed amount of times.</p> 
{% elif note.expired %}
    <p class="alert">Sorry, the note has expired.</p>
{% else %}
    <p class="alert">Sorry, the note cannot be read right now.</p>
{% endif %}
{% endif %}
</div>
{% endblock %}