{% extends "_basewide.html" %} {% load staticfiles %} {% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/zf/dt-1.10.18/datatables.min.css"/>
{% endblock %}{% block extra_javascript %}
<script type="text/javascript" src="https://cdn.datatables.net/v/zf/dt-1.10.18/datatables.min.js"></script>
{% endblock %} {% block body %}
<h2>Statistics</h2>
<table id='clients_statistics_table'>
<thead>
<tr>
<th>Client ({{ countofclients }})</th>
<th>People ({{ countofcomp }})</th>
<th>Computers ({{ countofpeople }})</th>
<th>Printers ({{ countofprinters }})</th>
<th>Total network equipment ({{ countofnetworkeq }})</th>
<th>Action</th>
</tr>
</thead>
<tbody>
    {% for client in clients %} {% include "views/oneitemrow/clientstatisticsrow.html" with client=client %} {% endfor %}
</tbody>
</table>

<script>
$('#clients_statistics_table').DataTable({
    "paging":   false,
    "fixedHeader": true,
})
</script>
{% endblock %}