{% extends "_basewide.html" %}{% load staticfiles %} {% block extra_css %}{% endblock %}{% block extra_javascript %}{% endblock %}
{% block body %}
<div class="post-bordered">
<h3>{{ ticket.title }}</h3>
{% if can_change %}
<p><b>Opened on:</b> {{ ticket.createtime|date:"Y-m-d h:i a" }}</p>
{% if ticket.resolved %}
<p><b>Closed on:</b> {{ ticket.closetime|date:"Y-m-d h:i a"}}</p>
<p><b>Closed by:</b> {{ ticket.resolvedby }}</p>
{% endif %}
{% if ticket.assignedto %}
<p><b>Assign to:</b> {{ ticket.assignedto.get_full_name }}</p>
{% endif %}
{% else %}
<p><b>Opened on:</b> {{ ticket.createtime|date:"M d, Y h:i a" }}</p>
{% if ticket.resolved %}
<p><b>Closed on:</b> {{ ticket.closetime|date:"M d, Y h:i a"}}</p>
<p><b>Closed by:</b> {{ ticket.resolvedby }}</p>
{% endif %}
{% endif %}
{% if ticket.companyname %}
<p><b>Company name:</b> {{ ticket.companyname }}</p>
{% endif %}
{% if ticket.contactname %}
<p><b>Contact:</b> {{ ticket.contactname }}</p>
{% endif %}
{% if ticket.contactemail %}
<p><b>Contact email:</b> <a href="{{ ticket.get_email_link }}">{{ ticket.contactemail }}</a></p>
{% endif %}
{% if ticket.contactphone %}
<p><b>Phone number:</b> {% include "views/components/phonenumber.html" with phone=ticket.contactphone %}</p>
{% endif %}
{% if ticket.description %}
<p><b>Description:</b> {{ ticket.description|linebreaksbr }}</p>
{% endif %}
{% if can_change %}
{% if ticket.resolved %}
<form action="{% url 'ticket_change' ticketid=ticket.id %}"  method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="action" value="open">
    <a id="open-button-{{ticket.id}}" class="button round inlineblock" onclick="this.parentElement.submit();">Reopen ticket</a>
</form>
{% else %}
<form action="{% url 'ticket_change' ticketid=ticket.id %}"  method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="action" value="close">
    <a id="close-button-{{ticket.id}}" class="button round inlineblock" onclick="this.parentElement.submit();">Close ticket</a>
</form>
{% endif %}
<form action="{% url 'ticket_change' ticketid=ticket.id %}"  method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="action" value="change">
    <a id="change-button-{{ticket.id}}" class="button round inlineblock" onclick="this.parentElement.submit();">Change ticket</a>
</form>
{% endif %}
{% if ticket.files %}
{% for onefile in ticket.files.all %} {% include "views/components/oneuploadedfile.html" with onefile=onefile %} {% endfor %}
{% endif %}
</div>
{% for comment in comments %} {% include "views/components/ticket_one_comment.html" with comment=comment %} {% endfor %}
{% if can_comment %}
<div class="row">
<div class="column"><hr></div>
</div>
<div class="row">
<div class="column"><form action="{% url 'ticket_add_comment' ticketuuid=ticket.unid %}" method="POST" class="post-form" autocomplete="off" enctype="multipart/form-data"> {{ form.as_p }}{% csrf_token %}
    <input type="hidden" name="action" value="{{ action|default:'add' }}">
    <button type="submit" class="button save round">{{ submbutton }}</button>
</form></div>
</div>
{% endif %}
{% endblock %}