<p><b><u>Name:</u></b> {{ clientname }}</p>
{% if clientphonenumber %}
<p><b><u>Phone number:</u></b> {% include "views/components/phonenumber.html" with phone=clientphonenumber %}</p>
{% else %}
{% endif %}
{% if clientaddress %}
<p><b><u>Address:</u></b> <a href="{{ clientaddresslink }}" target="_blank">{{ clientaddress }}</a></p>
{% else %}
{% endif %}
{% if clientdescription %}
<p><b><u>Description:</u></b></p>
{% include "forms/widget/maybequill.html" with obj=client.get_quill_object %}<br>
{% else %}
{% endif %}
<form action="{% url 'newclient' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="action" value="change">
    <input type="hidden" name="targetid" value="{{ clientid }}">
    <button type="submit" class="button round">Change client</button>
</form>