{% if router %}
<p><b>Manufacturer:</b> {{ router.get_manufacturer_display }}</p>
{% if router.model %}
<p><b>Model:</b> {{ router.model }}</p>
{% endif %}
{% if router.serialnumber %}
<p><b>Serial number:</b> {{ router.serialnumber }}</p>
{% endif %}
{% if router.externalip %}
<p><b>External IP address:</b> {{ router.externalip }}</p>
{% endif %}
{% if router.firmwareversion %}
<p><b>Model:</b> {{ router.firmwareversion }}</p>
{% endif %}
{% include "views/components/networkeqinfo.html" with equipment=router %}
{% if router.settings_file_available %}
<p><b>Settings:</b> <a href="{{ router.get_internal_link_to_settings }}" target="_blank">{{ router.get_link_text }}</a></p>
{% endif %}
<form action="{% url 'clientrouter' clientid=clid %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="action" value="change">
    <a id="routerbutton" class="button round" onclick="this.parentElement.submit();">Change router info</a>
</form>
{% else %}
<a href="{% url 'clientrouter' clientid=clid %}" id="routerbutton" class="button round">Add router info</a> {% endif %}